/* Color de fondo SOLO del inicio*/
.main {
    background-color: var(--bg-primary-color);
}

/* Puntero cuando se posa sobre el nombre */
.logo {
    cursor: pointer;
}

/*****************************
Estilos de sección bienvenida
*****************************/
.hero-section {
    position: relative;
    width: 100%; 
    max-width: 900px; 
    padding: 80px 20px 40px;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
}

.hero-image-container {
    width: 100%;
    padding: 0 15px; 
    margin-top: 30px; 
}

@media (max-width: 768px) {
    .hero-section {
      padding: 60px 15px 30px; /* Menos padding para pantallas medianas */
    }
  
    .hero-image-container {
      padding: 0 0px;
      margin-top: 20px;
      padding-right: 15px;
    }
  
    .hero-image {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .hero-section {
      padding: 50px 10px 20px; /* Aún más compacto para móviles pequeños */
    }
  
    .hero-image-container {
      padding: 0 0px;
      margin-top: 15px;
      padding-right: 15px;
    }
  
    .hero-image {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  

/* Nueva sección de gradiente */
.gradient-transition {
    background: linear-gradient(180deg, #202022 0%, #343438 100%);
    margin-bottom: 80px;
    color: #e4d4e9; /* Color oscuro para contraste */
}

/* Ajustes responsive para el gradiente */
@media (max-width: 1199px) {
    .gradient-transition {
        height: 100px;
    }
}

@media (max-width: 767px) {
    .gradient-transition {
        height: 70px;
    }
}

/* Ajustes para móviles */
@media (max-width: 480px) {
    .hero-section {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .hero-image-container {
        margin-top: 15px;
    }
}


/**************************
Estilos de sección sobre mí
**************************/
/* Nueva sección de gradiente */
.gradient-transition {
    background: linear-gradient(180deg, #202022 0%, #343438 100%);
    margin-bottom: 80px;
    color: #e4d4e9; /* Color oscuro para contraste */
}

.about-text {
    max-width: 800px; /* Ancho máximo para mejor legibilidad */
    margin: 0 auto; /* Centrado */
    padding: 0 2%; /* Espaciado lateral responsivo */
    line-height: 1.8; /* Mayor interlineado */
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .about-text {
        font-size: 0.8rem;       /* Letra ligeramente más pequeña */
        line-height: 1.6;      /* Menos espacio entre líneas */
        padding: 0 4%;         /* Un poco más de espacio lateral */
    }
}

/* Grid de información - versión columnas */
.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: 50px auto 0;
    padding: 0 7%;
}

.info-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 5px;
    padding-left: 20px;
    border-radius: 8px;
    border-left: 3px solid var(--primary-color);
    transition: transform 0.3s ease;
}

.info-item:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.1);
}

.info-item h3 {
    color: var(--primary-color);
    margin-bottom: 5px;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .info-grid {
        padding: 0 8%;
        gap: 20px;
    }

    .info-item {
        padding: 10px 15px;
        font-size: 0.8rem;
    }

    .info-item h3 {
        font-size: 0.9rem;
    }
}


/* Ajustes responsive para el gradiente */
@media (max-width: 768px) {
    .about-text {
        padding: 0 8%; 
    }
    
    .info-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 1199px) {
    .gradient-transition {
        height: 100px;
    }
}


@media (max-width: 767px) {
    .gradient-transition {
        height: 70px;
    }
}


/***************************
Estilos de sección proyectos
***************************/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 30px;
    margin-top: 50px;
    justify-items: center;
    padding: 0 5%;
}

.project-card {
    background: var(--bg-primary-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--deselect-color);
    position: relative; 
    z-index: 3; 
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--accent-color-a);
}

.project-image {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-card:hover .project-image img {
    transform: scale(1.1);
}

.project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    color: var(--white);
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.project-card:hover .project-overlay {
    transform: translateY(0);
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.project-info p {
    color: var(--white);
    margin-bottom: 15px;
    font-size: 0.95rem;
}

@media (max-width: 600px) {
    /* Modificamos la grilla para que sea una sola columna */
    .projects-grid {
        grid-template-columns: 1fr;  /* Una sola columna */
        gap: 20px;
    }

    /* En las tarjetas, se usa Flexbox para poner la imagen a la izquierda */
    .project-card {
        display: flex;  /* Usamos flexbox para organizar la imagen a la izquierda */
        flex-direction: row; /* Dirección de los elementos: imagen a la izquierda, texto a la derecha */
        padding: 10px; /* Espaciado interno para el contenido */
    }

    .project-image {
        width: 100px;  /* Ajustamos el tamaño de la imagen */
        height: 170px; /* Ajustamos el tamaño de la imagen */
        margin-right: 15px; /* Separación entre la imagen y el texto */
    }

    .project-info {
        flex: 1;  /* Hace que el texto ocupe el espacio restante */
        padding: 15px;
        font-size: 0.8rem;
    }

    .project-info p {
        font-size: 0.7rem;
    }

    .project-overlay {
        padding: 15px;
    }
}


/*****************************
Estilos de sección habilidades
*****************************/
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.skills-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.skill-box {
    background: var(--bg-primary-color);
    border-radius: 12px;
    padding: 20px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--deselect-color);
}

.skill-box-mini {
    background: var(--bg-primary-color);
    border-radius: 12px;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--deselect-color);
}

.tech-logo-mini {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.skill-box-mini2 {
    background: var(--bg-primary-color);
    border-radius: 12px;
    padding: 20px;
    width: 60px;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--deselect-color);
}

.tech-logo-mini2 {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.skill-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    border-color: var(--accent-color-a);
}

.skill-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.skill-box:hover::before {
    transform: scaleX(1);
}

.skill-box:hover .skill-icon {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.tech-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 8px;
    transition: all 0.3s ease;
}

.skill-box:hover .tech-logo {
    transform: scale(1.1);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.774));
}

.skill-name {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
}

.skill-box:hover .skill-name {
    color: var(--primary-color);
    transform: translateY(2px);
}

.skill-name::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 30px;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.3s ease;
}

.skill-box:hover .skill-name::after {
    transform: translateX(-50%) scaleX(1);
}

/* Ajustes para móvil */
@media (max-width: 768px) {
    .skills-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .skill-box {
        width: calc(33.33% - 10px); /* 3 columnas */
        max-width: 100px;
        padding: 12px;
        height: auto;
    }

    .tech-logo {
        width: 40px;
        height: 40px;
    }

    .skill-icon {
        font-size: 1.2rem;
        height: 40px;
    }

    .skill-name {
        font-size: 0.8rem;
    }
}

/* Ajustes para móviles pequeños */
@media (max-width: 480px) {
    .skills-row {
        gap: 10px;
    }

    .skill-box {
        width: calc(33.33% - 10px); /* 3 columnas */
        max-width: 90px;
        padding: 10px;
    }

    .tech-logo {
        width: 35px;
        height: 35px;
    }

    .skill-icon {
        font-size: 1rem;
        height: 35px;
    }

    .skill-name {
        font-size: 0.75rem;
    }
}
